---
http_interactions:
- request:
    method: post
    uri: https://www.matroid.com/api/0.1/oauth/token
    body:
      encoding: UTF-8
      string: client_id=c7RqWJs9MopTAN0Y&client_secret=55JxPSgh395wRW1IIX1PDLDBeVlUZytI&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"521bed655e6793c9b52a450574d56835","expires_in":1708,"scope":"api_access","token_type":"Bearer"}'
  recorded_at: Mon, 10 Apr 2017 16:32:59 GMT
recorded_with: VCR 3.0.3
