---
http_interactions:
- request:
    method: post
    uri: https://www.matroid.com/api/0.1/oauth/token
    body:
      encoding: UTF-8
      string: client_id=0000000000000000&client_secret=00000000000000000000000000000000&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"521bed655e6793c9b52a450574d56835","expires_in":1505,"scope":"api_access","token_type":"Bearer"}'
  recorded_at: Mon, 10 Apr 2017 16:36:22 GMT
- request:
    method: get
    uri: https://www.matroid.com/api/0.1/detectors/search
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 521bed655e6793c9b52a450574d56835
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"112-vNLpJCxm+GJg3Q/4uowT8Q"
    body:
      encoding: UTF-8
      string: '[{"id":"583416bc01f5b1394b3875c5","name":"kitties-n-puppies","labels":["kitty","puppy"],"label_ids":["583416bc01f5b1394b3875c6","583416bc01f5b1394b3875c7"],"type":"object","permission_level":"open","owner":true,"state":"trained","training":{"progress":100,"accuracy":97.9}}]'
  recorded_at: Mon, 10 Apr 2017 16:36:22 GMT
recorded_with: VCR 3.0.3
