---
http_interactions:
- request:
    method: post
    uri: https://www.matroid.com/api/0.1/oauth/token
    body:
      encoding: UTF-8
      string: client_id=0000000000000000&client_secret=00000000000000000000000000000000&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"521bed655e6793c9b52a450574d56835","expires_in":2164,"scope":"api_access","token_type":"Bearer"}'
  recorded_at: Mon, 10 Apr 2017 16:25:22 GMT
- request:
    method: get
    uri: https://www.matroid.com/api/0.1/detectors/search
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 521bed655e6793c9b52a450574d56835
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"144-rEsKUXekQtpu9LDsHJmRMQ"
    body:
      encoding: UTF-8
      string: '[{"id":"587ed72bb9b549417eefba41","name":"cat-64","labels":["Cat in
        the hat","cat"],"label_ids":["587fdc21e36792cd215081e5","587ed72bb9b549417eefba42"],"type":"object","permission_level":"private","owner":true,"state":"trained","training":{"progress":100,"accuracy":81.1,"training_requested_at":"2017-01-18T21:21:04.684Z"}}]'
  recorded_at: Mon, 10 Apr 2017 16:25:22 GMT
recorded_with: VCR 3.0.3
