---
http_interactions:
- request:
    method: get
    uri: https://www.matroid.com/api/0.1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Bearer bf8014ab65f662ba69f3dfd056e90d06
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a6-g3D9OWhn58PrnAQybEcGNFLbFx0"
    body:
      encoding: UTF-8
      string: '{"account":{"credits":{"plan":"premium","daily":{"used":36837,"available":100000},"monthly":{"used":36837,"available":1000000},"held":3496,"concurrentTrainLimit":1}}}'
  recorded_at: Thu, 30 Mar 2017 07:44:53 GMT
recorded_with: VCR 3.0.3
