---
http_interactions:
- request:
    method: post
    uri: https://www.matroid.com/api/0.1/oauth/token
    body:
      encoding: UTF-8
      string: client_id=0000000000000000&client_secret=00000000000000000000000000000000&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"b7df3e72626054b78dc6e016963d0916","expires_in":577683,"scope":"api_access","token_type":"Bearer"}'
  recorded_at: Tue, 11 Apr 2017 01:43:51 GMT
- request:
    method: get
    uri: https://www.matroid.com/api/0.1/detectors/search
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer b7df3e72626054b78dc6e016963d0916
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"125-Oi9dhFtrerxIT9KHNJnGvA"
    body:
      encoding: UTF-8
      string: '[{"id":"588887869a70643f1d6bd28b","name":"Ryan Reynolds","labels":["Ryan
        Reynolds"],"label_ids":["5888882e9a70643f1d6bd6fe"],"type":"face","permission_level":"open","owner":false,"state":"trained","training":{"progress":100,"accuracy":84.8,"training_requested_at":"2017-01-25T03:12:54.000Z"}}]'
  recorded_at: Tue, 11 Apr 2017 01:43:51 GMT
recorded_with: VCR 3.0.3
