---
http_interactions:
- request:
    method: get
    uri: https://www.matroid.com/api/0.1/account
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer b7df3e72626054b78dc6e016963d0916
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"95-50IDV95bwanWTqiFwy2zQg"
    body:
      encoding: UTF-8
      string: '{"account":{"credits":{"plan":"free","daily":{"used":26,"available":1000},"monthly":{"used":50,"available":1000},"held":1,"concurrentTrainLimit":1}}}'
  recorded_at: Tue, 11 Apr 2017 02:12:23 GMT
recorded_with: VCR 3.0.3
