---
http_interactions:
- request:
    method: get
    uri: https://www.matroid.com/api/0.1/account
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 521bed655e6793c9b52a450574d56835
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a6-eC6wEXdRFWBjmdTiMgBObg"
    body:
      encoding: UTF-8
      string: '{"account":{"credits":{"plan":"premium","daily":{"used":36860,"available":100000},"monthly":{"used":36860,"available":1000000},"held":3502,"concurrentTrainLimit":1}}}'
  recorded_at: Mon, 10 Apr 2017 16:25:22 GMT
recorded_with: VCR 3.0.3
